{{#if games.length}}
<div class="info-cart-content">
    <h2 >Productos: <span class="h2-contador">{{total}}</span></h2>
    <h2>Total: <span class="h2-total-carrito">{{totalMonto}}</span></h2>
</div>
{{#each games}}
{{#each productos}}
<div class="card bg-base-100 card-cart-content">
    <div class="card-body card-cart" >
        <ul>
            <li>
                <h2 class="text-2xl">{{product.nombre}}</h2>
                <h3>${{product.precio}}</h3>
                <button class="btn-eliminar " data-_id="{{_id}}" data-precio="{{precio}}"><img src="/icon-bote.png" class="icon-basura" alt="bote de basura"></button>
            </li>
        </ul>
    </div>
</div>
{{/each}}
{{/each}}
{{else}}

<h1>Carrito vacio</h1>
<button class="bton-home">
    <a href="/products">Volver a tienda</a>
</button>

{{/if}}
<script src="/agregar.js"></script>