<div class="card bg-base-100">
    <div class="card-body">
        <ul>
            <li>
                <img src="{{game.thumbnails}}" alt="{{game.title}}" class="object-cover imgs-cards" draggable="false">
                <h2 class="text-2xl">{{game.title}}</h2>
                <h2><strong>Categoría:</strong> {{game.category}}</h2>
                <h2>{{game.description}}</h2>
            </li>
            <div class="card-actios justify-end">
                <button class="btn btn-info btn-agregar" data-id="{{game._id}}">Agregar al carrito</button>
                <a class="btn btn-info" href="/products">Volver</a>
            </div>
        </ul>
    </div>
</div>
<script src="/js/agregar.js"></script>
<script src="/js/live.js"></script>